* {
    background-color: #FFFFFF;
}

div {
    display: flex;
    justify-content: center;
}

h1 {
    color: #FFFFFF;
    background-color: #373E40;
    padding: 40px;
    border-radius: 9px;
    border: 10px solid #373E40;
    border-radius: 20px 100px;
    text-align: center;
    margin: 90px auto;
    width: 80%;
}

.card {
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin: 1px auto;
    max-width: 600px;
}

h2 {
    margin: 0 auto;
    color: #373E40;
    font-family: 'Rubik', sans-serif;
}